package templates

templ Home() {
    <html>
        <head>
            <title>ASCII Converter</title>
        </head>
        <body>
            <header>
                <h1>ASCII Converter</h1>
            </header>
            <main>
                <h1>Hello, World!</h1>
            </main>
            <footer>
                <p>Copyright © 2024 Aster</p>
            </footer>
        </body>
    </html>
}
